.idea/
.settings/
target/
/*.json
.project
.classpath
*.log
.DS_Store
__pycache__
test/rest_request_generated/
*.iml
.vscode/
docker-setup/connector-examples/*.json
docker-setup/snowflake-kafka-docker
.cache/
licenses/