.idea/
.settings/
target/
/*.json
.project
.classpath
*.log
.DS_Store
__pycache__
test/rest_request_generated/
test/perf_test/config
test/perf_test/confluent
test/perf_test/data
test/perf_test/confluent.tar.gz
*.iml
.vscode/