.DS_Store
.envrc

# IDEs
.idea/
.settings/
.claude/
.cursor/
.vscode/
.project/

# Python
__pycache__
venv

# Java
.cache/
.classpath
*.iml
target
docker-setup

*.log
*.log.*

profile*.json

licenses/
ai-docs/
