{
  "user": "user name",
  "role": "user role",
  "private_key": "private key",
  "host": "account_identifier.snowflakecomputing.com:443",
  "schema": "schema name",
  "database": "database name",
  "warehouse": "warehouse name"
}