name: Kafka Connector end-to-end tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: ['**']
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-22.04
    name: ${{ matrix.platform }} ${{ matrix.platform_version }}, Java ${{ matrix.java_test_version }}, ${{ matrix.snowflake_cloud }}
    strategy:
      fail-fast: false # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstrategyfail-fast
      matrix:
        include:
          - platform: apache
            platform_version: '2.8.2'
            snowflake_cloud: 'AWS'
            java_test_version: '11'
          - platform: apache
            platform_version: '3.7.2'
            snowflake_cloud: 'GCP'
            java_test_version: '11'
          - platform: confluent
            platform_version: '6.2.15'
            snowflake_cloud: 'AZURE'
            java_test_version: '17'
          - platform: confluent
            platform_version: '7.8.2'
            snowflake_cloud: 'AWS'
            java_test_version: '11'
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: "Install Java 11"
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 11

    - name: "Cache local Maven repository"
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: >
          ${{ runner.os }}-maven-${{ hashFiles(
          case(matrix.platform == 'confluent', '**/pom_confluent.xml', '**/pom.xml')
          ) }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'
        architecture: 'x64'

    - name: Decrypt profile.json in Snowflake Cloud ${{ matrix.snowflake_cloud }}
      run: ./.github/scripts/decrypt_secret.sh ${{ matrix.snowflake_cloud }}
      env:
        SNOWFLAKE_TEST_PROFILE_SECRET: ${{ secrets.SNOWFLAKE_TEST_PROFILE_SECRET }}

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install librdkafka-dev jq
    
    - name: Install protoc
      run: |
        PROTOC_VERSION=25.1
        curl -fsSL -o protoc.zip "https://github.com/protocolbuffers/protobuf/releases/download/v${PROTOC_VERSION}/protoc-${PROTOC_VERSION}-linux-x86_64.zip"
        sudo unzip -o protoc.zip -d /usr/local bin/protoc 'include/*'
        rm protoc.zip
        protoc --version

    - name: Install Python dependencies
      run: |
        pip3 install --upgrade setuptools
        pip3 install requests certifi "confluent-kafka[avro,json,protobuf]==2.13.0"
        pip3 install avro kafka-python
        pip3 install --upgrade snowflake-connector-python==4.2.0
        pip3 freeze

    - name: Install Squid as Proxy Server and Apache Utils for Password Authentication
      run: |
        sudo apt-get -y install squid
        sudo apt-get install apache2-utils

    - name: Change squid config and run Proxy Server
      run: |
        sudo touch /etc/squid/passwords
        sudo chmod 777 /etc/squid/passwords
        sudo htpasswd -db -c /etc/squid/passwords admin test
        sudo mv .github/scripts/squid.conf /etc/squid/squid.conf
        sudo service squid start

    - name: Build and run unit tests
      env:
        SNOWFLAKE_CREDENTIAL_FILE: "../profile.json"
        SHELL: "/bin/bash"
      working-directory: test
      run: ./build_runtime_jar.sh ../../snowflake-kafka-connector package ${{ matrix.platform }}

    - name: Setup JAVA for tests version ${{ matrix.java_test_version }}
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.java_test_version }}

    - name: Run end-to-end tests
      env:
        SNOWFLAKE_CREDENTIAL_FILE: "../profile.json"
        SF_CLOUD_PLATFORM: ${{ matrix.snowflake_cloud }}
      working-directory: test
      run: ./run_test_${{ matrix.platform }}.sh ${{ matrix.platform_version }} ./apache_properties
