name: Kafka Connector end-to-end tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: ['**']
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-22.04
    name: >
      ${{ matrix.platform }} ${{ matrix.platform_version }},
      ${{ matrix.java_test_version && format('Java {0},', matrix.java_test_version) || '' }}
      ${{ matrix.snowflake_cloud }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: apache
            platform_version: '2.8.2'
            snowflake_cloud: 'AWS'
            java_test_version: '11'
          - platform: apache
            platform_version: '3.7.2'
            snowflake_cloud: 'GCP'
            java_test_version: '17'
          - platform: confluent
            platform_version: '6.2.15'
            snowflake_cloud: 'AZURE'
          - platform: confluent
            platform_version: '7.8.2'
            snowflake_cloud: 'AWS'
    steps:
    - uses: actions/checkout@v4

    - name: Decrypt profile.json in Snowflake Cloud ${{ matrix.snowflake_cloud }}
      run: ./.github/scripts/decrypt_secret.sh ${{ matrix.snowflake_cloud }}
      env:
        SNOWFLAKE_TEST_PROFILE_SECRET: ${{ secrets.SNOWFLAKE_TEST_PROFILE_SECRET }}

    - uses: ./.github/actions/build-connector
      with:
        platform: ${{ matrix.platform }}

    - uses: ./.github/actions/run-e2e-tests
      with:
        platform: ${{ matrix.platform }}
        platform-version: ${{ matrix.platform_version }}
        snowflake-cloud: ${{ matrix.snowflake_cloud }}
        java-version: ${{ matrix.java_test_version || '11' }}
