name: Kafka Connector End2End Full Version Test

on:
  schedule:
    - cron:  '0 8 * * *'

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    - name: "Install Java 8"
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Install Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.6'
        architecture: 'x64'
    - name: Decrypt profile.json
      run: ./.github/scripts/decrypt_secret.sh
      env:
        SNOWFLAKE_TEST_PROFILE_SECRET: ${{ secrets.SNOWFLAKE_TEST_PROFILE_SECRET }}
    - name: Restore Maven Cache
      uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Install Dependency
      run: |
        pip3 install --upgrade setuptools
        pip3 install "confluent-kafka[avro]"
        pip3 install avro-python3
        pip3 install --upgrade snowflake-connector-python
        curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
        sudo apt-get -y install jq
    
    - name: Build with Unit and Integration Test
      env:
        JACOCO_COVERAGE: true
        SNOWFLAKE_CREDENTIAL_FILE: "../profile.json"
        SHELL: "/bin/bash"
      run: |
        cd test
        ./build_apache.sh ../../snowflake-kafka-connector
    
    - name: End to End Test of Confluent Platform 5.0.0
      env:
        SNOWFLAKE_CREDENTIAL_FILE: "../profile.json"
      run: |
        cd test
        ./run_test_confluent.sh 5.0.0 ./apache_properties

    - name: End to End Test of Apache Plarform 2.0.0
      env:
        SNOWFLAKE_CREDENTIAL_FILE: "../profile.json"
      run: |
        cd test
        ./run_test_apache.sh 2.0.0 ./apache_properties

    - name: End to End Test of Confluent Platform 5.2.0
      env:
        SNOWFLAKE_CREDENTIAL_FILE: "../profile.json"
      run: |
        cd test
        ./run_test_confluent.sh 5.2.0 ./apache_properties

    - name: End to End Test of Apache Plarform 2.2.0
      env:
        SNOWFLAKE_CREDENTIAL_FILE: "../profile.json"
      run: |
        cd test
        ./run_test_apache.sh 2.2.0 ./apache_properties

    - name: End to End Test of Confluent Platform 5.4.0
      env:
        SNOWFLAKE_CREDENTIAL_FILE: "../profile.json"
      run: |
        cd test
        ./run_test_confluent.sh 5.4.0 ./apache_properties

    - name: End to End Test of Apache Plarform 2.4.0
      env:
        SNOWFLAKE_CREDENTIAL_FILE: "../profile.json"
      run: |
        cd test
        ./run_test_apache.sh 2.4.0 ./apache_properties

    - name: End to End Test of Confluent Platform 5.5.0
      env:
        SNOWFLAKE_CREDENTIAL_FILE: "../profile.json"
      run: |
        cd test
        ./run_test_confluent.sh 5.5.0 ./apache_properties

    - name: End to End Test of Apache Plarform 2.5.0
      env:
        SNOWFLAKE_CREDENTIAL_FILE: "../profile.json"
      run: |
        cd test
        ./run_test_apache.sh 2.5.0 ./apache_properties

    - name: Code Coverage
      uses: codecov/codecov-action@v1
