name: GoogleJavaFormat

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: GoogleJavaFormat
        id: googlejavaformat
        uses: axel-op/googlejavaformat-action@v3
        with:
          skip-commit: true
          version: 1.10.0
          args: "-n --set-exit-if-changed"